<div class="w-100 h-100 d-flex d-flex flex-column align-top">
  <h1>Months</h1>
  <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
  <%=render Card::Component.with_collection(@months) %>
</div>