<%= link_to(month_path(@month)) do %>
  <div class="my-3 w-50 mx-auto">
    <% unless @month.active %>
      <button class="btn btn-lg btn-danger w-100" type="button">
        <%= @month.period.strftime('%B-%Y') %>
      </button>
    <% else %>
      <button class="btn btn-lg btn-success w-100" type="button">
        <%= @month.period.strftime('%B-%Y') %>
      </button>
    <% end %>
  </div>
<% end %>