<article>
  <h4 style="margin-bottom: 0"><%= @month.period.strftime('%B-%Y') %></h4>
  <% unless @month.active %>
    <div style="border: solid; border-radius: 10px; border-color: red"></div>
  <% else %>
    <div style="border: solid; border-radius: 10px; border-color: green"></div>
  <% end %>
</article>