<article>
  <%= @month.period %>
  <% unless @month.active %>
    <div style="border: solid; border-radius: 10px; border-color: red"></div>
  <% else %>
    <div style="border: solid; border-radius: 10px; border-color: green"></div>
  <% end %>
</article>